.header-main-container  {
    position : sticky;
    top : 0;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 10vh;
    color: white;
    background-color: transparent;
    background-color: black;
    transition: all;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;


}

.header-container {
    width: 95%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}


.header-left ul {
display: flex;
width: 140%;
justify-content: space-between;
align-items: center;
list-style: none;
cursor: pointer;
}

.header_right ul{
    display: flex;
    width: 120%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}