*{
    padding:0;
    margin:0;
}
.banner{
    margin-top:10hv;
    margin-bottom:10px;
    height:10hv;
    color: white;
    object-fit: contain;
}

.banner__title{
 font-size: 3rem;
 font-weight: 800;
 padding-bottom: 0.5rem;   
}
.banner__description{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;    
}
.banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;   
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.9rem 1.7rem;
    margin-right:1rem;
    border-color: rgba(51, 51, 51, 0.5);
}
.play{
    color:white;
    background-color: black;
}

.my-list{
color:white;
background-color: black;
}
.play:hover{
color: black;
background-color: white;
}

.my-list:hover{
color: black;
background-color: white;
}

.banner__buttons{
color: black;
/* background-color: white;  */
transition:all 0.2s;
}
.banner__fadeButton{
    height: 45vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37,37,37,0.91),
    #111
    );
}