*{
    margin: 0;
    padding: 0;
}
.footer_outer_container{
    background-color: black;
    color: gray;
    display:flex;
    justify-content: center;
}
.footer_inner_container{
    width: 60%;
}
.footer_icons{
    width: 12%;
    display: flex;
    justify-content:space-between;
    margin-left: 10px;
    color: white;
}
.footer_data{
    display: flex;
    justify-content: space-between;
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li {
    cursor: pointer;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 1px solid;
    width:23%;
    margin:20px 0;
    cursor: pointer;
}
p {
  margin: 0;
}


.copy_write{
    font-size: 12px;
    margin: bottom 10px;
}